{% extends "base.html" %}
{% block slides %}
  {% include "slides/01_title.html" %}
  {% include "slides/02_definition.html" %}
  {% include "slides/03_parsers.html" %}
  {% include "slides/04_web_polyglot.html" %}
  {% include "slides/05_binary.html" %}
  {% include "slides/06_c_python.html" %}
  {% include "slides/07_demo.html" %}
  {% include "slides/08_bash_python.html" %}
  {% include "slides/09_polycompiler.html" %}
  {% include "slides/10_why_matters.html" %}
  {% include "slides/11_exercises.html" %}
  {% include "slides/12_questions.html" %}
{% endblock %}
